.jumbotron{
    align-content: center;
    text-align: center;    
 }
 
 /* input, label{
     display: inline-block;
 } */
 .block{
     display: flex;
   flex-flow: row wrap;
   align-items: center;
   width: 100%;
 }
 .button {
     display: block;
     width: 100px;
     height: 40px;
     margin-left: 46%;
     background: #4E9CAF;
     padding: 10px;
     text-align: center;
     border-radius: 5px;
     color: white;
     font-weight: bold;
 }
 
 #task{
     width: 80%;
     height: 40px;
 }
 
 #desc{
     width: 100%;
     height: 80%;
 }
 
 #due{
     width: 40%;
     height: 30px;
 }
 
 #button{
     display: block;
     position: absolute;
     left: 200px;
     width: 100px;
     height: 40px;
     border-radius: 5px;
 }