legend{
    text-align: center;
    color:blueviolet;
}

body{
    background-color: bisque;
}

.jumbotron{
   align-content: center;
   text-align: center;    
}

.block{
    display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}
.button {
    display: block;
    width: 100px;
    height: 40px;
    margin-left: 46%;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
#myList > ul {
    display: none;
    list-style-type:none;
  } 
    
#myList > ul > li {
      list-style:none; 
  } 
    
#myList > li {
     list-style:none;   
    font-weight: bold;
  }
  
  ul > .multi{
      border: solid black 1px;
      width:80%;
      margin-left: 10%;
  }

  .update{
    display: block;
    position: absolute;
    left: 47%;
  }

 .list {
    border: solid black 1px;
    width:80%;
    margin-left: 10%;
}
ul > .multi::after {
    content:' +'
  }
    
  ul > .multi-opened::after {
    content:' -'
  }

#task{
    width: 80%;
    height: 40px;
}

#notes{
    width: 100%;
    height: 40px;
}

#desc{
    width: 100%;
    height: 80%;
}

#props{
    width: 40%;
    height: 30px;
}

#button{
    display: block;
    position: absolute;
    left: 47%;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

#task-item {
    border:1px solid grey;
    
}